<footer class="footer">
  <div class="container">
    <div class="social__location-inner">
      <div class="social__media"><h3 class="social__media-title">Наши группы в соцсетях:</h3>
        <ul class="social__media-list">
          <li class="social__media-item"><a class="social__media-link"
                                            href="#"><img
            src="/static/images/vk-logo.png"
            alt="vk-logo"></a></li>
          <li class="social__media-item"><a class="social__media-link"
                                            href="#"><img
            src="/static/images/classmates-logo.png"
            alt="classmates-logo"></a></li>
        </ul>
      </div>
      <div class="location"><h3 class="location-title">Как нас найти:</h3>
        <div class="location-text__block">
          <div dir="auto" class="css-text-146c3p1"
               style="width: 340px; text-align: center; font: inherit;">Контактный телефон в
            Томске:
            78-40-46 (рабочее время)
            ООО «БИЗНЕС-ЖУРНАЛ-ТОМСК»
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>