<div class="container">
  <form class="form" action="/companies" method="POST" id="form">
    <div class="form__group">
      <label class="form__label" for="name">Название компании:</label>
      <input class="form__input" type="text" id="name" name="name" required>
    </div>

    <div class="form__group">
      <label class="form__label" for="description">Описание:</label>
      <textarea class="form__textarea" id="description" name="description" rows="5" required></textarea>
    </div>

    <button class="form__button" type="submit">Добавить</button>
  </form>
</div>
