<div class="container">
  <form class="form" action="/users/{{user.id}}/edit" method="POST" id="form">
    <div class="form__group">
      <label class="form__label" for="name">Имя пользователя:</label>
      <input class="form__input" type="text" id="name" name="name" required>
    </div>

    <div class="form__group">
      <label class="form__label" for="email">Email:</label>
      <input class="form__input" type="text" id="email" name="email" required>
    </div>

    <div class="form__group">
      <label class="form__label" for="password">Пароль:</label>
      <input class="form__input" type="text" id="password" name="password" required>
    </div>

    <button class="form__button" type="submit">Отредактировать пользователя</button>
  </form>
</div>
